@(allArticles: List[Article])

<h1>
    Welcome
</h1>

<a href="@routes.HomeController.getEggs(2)">2km Eggs</a> </br>
<a href="@routes.HomeController.getEggs(5)">5km Eggs</a> </br>
<a href="@routes.HomeController.getEggs(10)">10km Eggs</a> </br>

<ul>
    @if(allArticles != null) {
        @for(x <- allArticles) {
            <li>@x.title</li>
            <li>@x.content</li>
        }
    }
</ul>

<!--<form action="@routes.HomeController.add()" method="post">-->
    <!--<input type="text" name="title">-->
    <!--<input type="text" name="content">-->
    <!--<button>Add</button>-->
<!--</form>-->