@(allArticles: List[Article])

<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="http://v4-alpha.getbootstrap.com/favicon.ico">

    <title>Pokemon GO</title>

    <link rel="stylesheet" type="text/css" media="screen" href="@routes.Assets.at("css/bootstrap.min.css")">
    <link rel="stylesheet" media="screen" href="@routes.Assets.at("css/dashboard.css")"/>
</head>

<!--<a href="@routes.HomeController.getEggs(2)">2km Eggs</a> </br>-->
<!--<a href="@routes.HomeController.getEggs(5)">5km Eggs</a> </br>-->
<!--<a href="@routes.HomeController.getEggs(10)">10km Eggs</a> </br>-->

<!--<ul>-->
    <!--@if(allArticles != null) {-->
        <!--@for(x <- allArticles) {-->
            <!--<li>@x.title</li>-->
            <!--<li>@x.content</li>-->
        <!--}-->
    <!--}-->
<!--</ul>-->

<!--<form action="@routes.HomeController.add()" method="post">-->
    <!--<input type="text" name="title">-->
    <!--<input type="text" name="content">-->
    <!--<button>Add</button>-->
<!--</form>-->


<body>

<nav class="navbar navbar-dark navbar-fixed-top bg-inverse">
    <!--<button type="button" class="navbar-toggler hidden-sm-up" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">-->
        <!--<span class="sr-only">Toggle navigation</span>-->
        <!--<span class="icon-bar"></span>-->
        <!--<span class="icon-bar"></span>-->
        <!--<span class="icon-bar"></span>-->
    <!--</button>-->
    <a class="navbar-brand" href="@routes.HomeController.index()">Home</a>

    <!--<div id="navbar">-->
        <!--<nav class="nav navbar-nav pull-xs-left">-->
            <!--<a class="nav-item nav-link" href="http://v4-alpha.getbootstrap.com/examples/dashboard/#">Dashboard</a>-->
            <!--<a class="nav-item nav-link" href="http://v4-alpha.getbootstrap.com/examples/dashboard/#">Settings</a>-->
            <!--<a class="nav-item nav-link" href="http://v4-alpha.getbootstrap.com/examples/dashboard/#">Profile</a>-->
            <!--<a class="nav-item nav-link" href="http://v4-alpha.getbootstrap.com/examples/dashboard/#">Help</a>-->
        <!--</nav>-->
        <!--<form class="pull-xs-right">-->
            <!--<input type="text" class="form-control" placeholder="Search...">-->
        <!--</form>-->
    <!--</div>-->
</nav>

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
            <!--<ul class="nav nav-sidebar">-->
                <!--<li class="active"><a href="http://v4-alpha.getbootstrap.com/examples/dashboard/#">Overview <span class="sr-only">(current)</span></a></li>-->
            <!--</ul>-->
            <ul class="nav nav-sidebar">
                <li><a href="@routes.HomeController.pokemonList("All")">Pokemon List</a></li>
                <li><a href="@routes.HomeController.evolveCandy(0)">Evolution Candy Required</a></li>
            </ul>
            <ul class="nav nav-sidebar">
                <li><a href="@routes.HomeController.moveList(0)">Move List</a></li>
                <li><a href="@routes.HomeController.moveList(1)">Fast Moves</a></li>
                <li><a href="@routes.HomeController.moveList(2)">Special Moves</a></li>
            </ul>
            <ul class="nav nav-sidebar">
                <li><a href="@routes.HomeController.getEggs(2)">2km Eggs</a></li>
                <li><a href="@routes.HomeController.getEggs(5)">5km Eggs</a></li>
                <li><a href="@routes.HomeController.getEggs(10)">10km Eggs</a></li>
            </ul>
        </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
            <h1 class="page-header">Introduction</h1>

            <!--<div class="row placeholders">-->
                <!--<div class="col-xs-6 col-sm-3 placeholder">-->
                    <!--<img src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" width="200" height="200" class="img-fluid" alt="Generic placeholder thumbnail">-->
                    <!--<h4>Label</h4>-->
                    <!--<span class="text-muted">Something else</span>-->
                <!--</div>-->
                <!--<div class="col-xs-6 col-sm-3 placeholder">-->
                    <!--<img src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" width="200" height="200" class="img-fluid" alt="Generic placeholder thumbnail">-->
                    <!--<h4>Label</h4>-->
                    <!--<span class="text-muted">Something else</span>-->
                <!--</div>-->
                <!--<div class="col-xs-6 col-sm-3 placeholder">-->
                    <!--<img src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" width="200" height="200" class="img-fluid" alt="Generic placeholder thumbnail">-->
                    <!--<h4>Label</h4>-->
                    <!--<span class="text-muted">Something else</span>-->
                <!--</div>-->
                <!--<div class="col-xs-6 col-sm-3 placeholder">-->
                    <!--<img src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" width="200" height="200" class="img-fluid" alt="Generic placeholder thumbnail">-->
                    <!--<h4>Label</h4>-->
                    <!--<span class="text-muted">Something else</span>-->
                <!--</div>-->
            <!--</div>-->

            <!--<h2>Introduction</h2>-->
            <img src="@routes.Assets.at("pic/1.png")" style="width:30px;height:30px;">

            </br>
            <b>Pokémon Go</b> (stylized <b>Pokémon GO</b>) is a location-based, augmented reality game for mobile devices developed by Niantic for iOS and Android operating systems. It was released in most regions of the world in July 2016. Typically played on mobile phones, players use the device's GPS and camera to capture, battle, and train virtual creatures, called Pokémon, who appear on the screen as if they were in the same real-world location as the player. The game is free-to-play, although in-app purchases are advertised for additional gameplay items.
            </br>
            Pokémon Go was released to mixed reviews. Reviewers praised the game and the incentive to be more active in the real world, while noting technical issues apparent at launch. It quickly became one of the most used mobile apps shortly after release and was downloaded by more than 40 million people worldwide. It has been credited with popularizing location-based and augmented reality gaming as well as for promoting physical activity. It also attracted controversy for contributing to car accidents and becoming a public nuisance at some locations, such as the U.S. Holocaust Museum in Washington, DC.
            </br>
            <div align="right">
                --from <a href="https://en.wikipedia.org/wiki/Pok%C3%A9mon_Go">Wikipedia</a>
            </div>

            <!--<h2>Pokemon List</h2>-->
            <!--<div class="table-responsive">-->
                <!--<table class="table table-striped">-->
                    <!--<thead>-->
                    <!--<tr>-->
                        <!--<th>#</th>-->
                        <!--<th>Header</th>-->
                        <!--<th>Header</th>-->
                        <!--<th>Header</th>-->
                        <!--<th>Header</th>-->
                    <!--</tr>-->
                    <!--</thead>-->
                    <!--<tbody>-->
                    <!--<tr>-->
                        <!--<td>1,001</td>-->
                        <!--<td>Lorem</td>-->
                        <!--<td>ipsum</td>-->
                        <!--<td>dolor</td>-->
                        <!--<td>sit</td>-->
                    <!--</tr>-->
                    <!--<tr>-->
                        <!--<td>1,002</td>-->
                        <!--<td>amet</td>-->
                        <!--<td>consectetur</td>-->
                        <!--<td>adipiscing</td>-->
                        <!--<td>elit</td>-->
                    <!--</tr>-->
                    <!--<tr>-->
                        <!--<td>1,003</td>-->
                        <!--<td>Integer</td>-->
                        <!--<td>nec</td>-->
                        <!--<td>odio</td>-->
                        <!--<td>Praesent</td>-->
                    <!--</tr>-->
                    <!--<tr>-->
                        <!--<td>1,003</td>-->
                        <!--<td>libero</td>-->
                        <!--<td>Sed</td>-->
                        <!--<td>cursus</td>-->
                        <!--<td>ante</td>-->
                    <!--</tr>-->
                    <!--<tr>-->
                        <!--<td>1,004</td>-->
                        <!--<td>dapibus</td>-->
                        <!--<td>diam</td>-->
                        <!--<td>Sed</td>-->
                        <!--<td>nisi</td>-->
                    <!--</tr>-->
                    <!--<tr>-->
                        <!--<td>1,005</td>-->
                        <!--<td>Nulla</td>-->
                        <!--<td>quis</td>-->
                        <!--<td>sem</td>-->
                        <!--<td>at</td>-->
                    <!--</tr>-->
                    <!--<tr>-->
                        <!--<td>1,006</td>-->
                        <!--<td>nibh</td>-->
                        <!--<td>elementum</td>-->
                        <!--<td>imperdiet</td>-->
                        <!--<td>Duis</td>-->
                    <!--</tr>-->
                    <!--<tr>-->
                        <!--<td>1,007</td>-->
                        <!--<td>sagittis</td>-->
                        <!--<td>ipsum</td>-->
                        <!--<td>Praesent</td>-->
                        <!--<td>mauris</td>-->
                    <!--</tr>-->
                    <!--<tr>-->
                        <!--<td>1,008</td>-->
                        <!--<td>Fusce</td>-->
                        <!--<td>nec</td>-->
                        <!--<td>tellus</td>-->
                        <!--<td>sed</td>-->
                    <!--</tr>-->
                    <!--<tr>-->
                        <!--<td>1,009</td>-->
                        <!--<td>augue</td>-->
                        <!--<td>semper</td>-->
                        <!--<td>porta</td>-->
                        <!--<td>Mauris</td>-->
                    <!--</tr>-->
                    <!--<tr>-->
                        <!--<td>1,010</td>-->
                        <!--<td>massa</td>-->
                        <!--<td>Vestibulum</td>-->
                        <!--<td>lacinia</td>-->
                        <!--<td>arcu</td>-->
                    <!--</tr>-->
                    <!--<tr>-->
                        <!--<td>1,011</td>-->
                        <!--<td>eget</td>-->
                        <!--<td>nulla</td>-->
                        <!--<td>Class</td>-->
                        <!--<td>aptent</td>-->
                    <!--</tr>-->
                    <!--<tr>-->
                        <!--<td>1,012</td>-->
                        <!--<td>taciti</td>-->
                        <!--<td>sociosqu</td>-->
                        <!--<td>ad</td>-->
                        <!--<td>litora</td>-->
                    <!--</tr>-->
                    <!--<tr>-->
                        <!--<td>1,013</td>-->
                        <!--<td>torquent</td>-->
                        <!--<td>per</td>-->
                        <!--<td>conubia</td>-->
                        <!--<td>nostra</td>-->
                    <!--</tr>-->
                    <!--<tr>-->
                        <!--<td>1,014</td>-->
                        <!--<td>per</td>-->
                        <!--<td>inceptos</td>-->
                        <!--<td>himenaeos</td>-->
                        <!--<td>Curabitur</td>-->
                    <!--</tr>-->
                    <!--<tr>-->
                        <!--<td>1,015</td>-->
                        <!--<td>sodales</td>-->
                        <!--<td>ligula</td>-->
                        <!--<td>in</td>-->
                        <!--<td>libero</td>-->
                    <!--</tr>-->
                    <!--</tbody>-->
                <!--</table>-->
            <!--</div>-->
        </div>
    </div>
</div>

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="./Dashboard Template for Bootstrap_files/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
<script src="./Dashboard Template for Bootstrap_files/bootstrap.min.js"></script>
<!-- Just to make our placeholder images work. Don't actually copy the next line! -->
<script src="./Dashboard Template for Bootstrap_files/holder.min.js"></script>
<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<script src="./Dashboard Template for Bootstrap_files/ie10-viewport-bug-workaround.js"></script>


</body></html>
